<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<title>ReportApp</title>

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"  type="text/css"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<body>
<h3>Полный список issue в БД</h3>

<table class="table table-bordered table-primary">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Key</th>
        <th scope="col">Type</th>
        <th scope="col">Summary</th>
        <th scope="col">Created</th>
        <th scope="col">Start Process Init</th>
        <th scope="col">Start Process Update</th>
        <th scope="col">To Test Init</th>
        <th scope="col">Testing Init</th>
        <th scope="col">Resolved</th>
        <th scope="col">Updated</th>
        <th scope="col">StoryPoint</th>
        <th scope="col">CycleTime (Days)</th>
        <th scope="col">LeadTime (Days)</th>
        <th scope="col">WaitingTest (Days)</th>
        <th scope="col">Testing (Days)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${issues.isEmpty()}">
        <td> No Issues </td>
    </tr>
    <tr th:each="issue : ${issues}">
        <td th:text="${issue.getIssueId()}"></td>
        <td th:text="${issue.getIssueKey()}"></td>
        <td th:text="${issue.getIssueType()}"></td>
        <td th:text="${issue.getSummary()}"></td>
        <td th:text="${#temporals.format(issue.getCreated(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(issue.getStartProcessInit(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(issue.getStartProcessUpdate(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(issue.getToTestInit(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(issue.getTestingInit(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(issue.getResolved(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(issue.getUpdated(), 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${issue.getStoryPoints()}"></td>
        <td th:text="${issue.getCycleDays()}"></td>
        <td th:text="${issue.getLeadDays()}"></td>
        <td th:text="${issue.getWaitingTestDays()}"></td>
        <td th:text="${issue.getTestingDays()}"></td>
    </tr>
    </tbody>
</table>

<!--<div class="container text-center">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            Column-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            Column-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            Column-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

</body>
</html>